@import "tailwindcss";

@theme {
  --color-farm-light: #d8f3dc;
  --color-farm-DEFAULT: #1b4332;
  --color-farm-dark: #081c15;
  --color-farm-secondary: #2d6a4f;
  
  --color-risk-low: #2e7d32;
  --color-risk-moderate: #d97706;
  --color-risk-high: #dc2626;
  --color-risk-unknown: #737373;
  
  --color-surface: #fdfcf9;
}

@layer base {
  body {
    @apply bg-[#fdfcf9] text-gray-900 font-sans antialiased;
  }
}

